/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3", "compass/support";

 
#introductory {
	position: relative;
	&:after{
		content:url("/img/hackathon-graphic.png");
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
		position: absolute;
		top: 10%;
		left: 10%;
	}
}

.hide-text{
	display: block;
	text-indent: 100%;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.compare{
	float: left;
	margin: 15px 15px 0 0;
}
.list-item{
	float: left;
}
#search-results-list {
	ul{
		li{
			display: block;
			width: 100%;
			clear: left;
		}
	}
}
#search-results h1 {
	margin: 0 0 0;
}
.head-compare{
	margin: 0 0 10px;
	&:after{
		content:"Select up to 3 jobs to compare";
		background: #0895d3 none repeat scroll 0 0;
		padding: 5px 10px;
		display: inline-block;
		color: #fff;
		font-size: 1rem;
	}
}
.btn{
	background-color: #0895d3;
    border: 1px solid #0895d3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica HV","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 44px;
    margin: 1em 1em 1em 0;
    min-width: 255px;
    padding: 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
	max-width: 255px;
}
h1.title{
	border-bottom: 1px dashed #b7c7d0;
	color: #263343;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 3em;
	font-weight: normal;
	margin: 0 0 10px;
	display: block;
	width: 100%;
	padding: 0;
	
}
	.flex {
		max-width: 1280px;
		margin: 0 auto;
		
		section{
			width: 100%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: flex-start;
			&:first-of-type{
				h3{
					border-bottom: 0px dashed #b7c7d0;
					width: 25%;
					
				}
			}
			div{
				width: 25%;
				border-left: 1px dashed #b7c7d0;
				padding: 1em 1.5%;
				align-self: stretch;
				position: relative;
				
			}
			ul{
				padding: 0 0 0 1em;
				list-style: outside none disc;
				li{
					margin: .5em 0;
				}
			}
			h1{
				display: inline;
				color: #0895d3;
				font-family: "Helvetica HV","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
				font-size: 1rem;
				padding: 1em 0;
				text-align: left;
				width: 25%;
				align-self: stretch;
				text-transform: uppercase;
			}
			h2{
				text-align: center;
				padding: 0 25px 0 10px;
			}
			.close {
			  position: absolute;
			  top: 10px;
			  right: 10px;
			  display: inline-block;
			  width: 25px;
			  height: 25px;
			  overflow: hidden;
			  &:hover {
				&::before, &::after {
				  background: #0895d3;
				}
			  }

			  &::before, &::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background: #000;
			  }
			  &::before {
				@include transform(rotate(45deg));
			  }
			  &::after {
				@include transform(rotate(-45deg));
			  }
				span{
					@extend .hide-text;
				}
			}
		}
	}